* { 
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size:62.5%;
}

:root {
    --very-light-pink: #C7C7C7;
    --text-input-field: #F7F7F7;
    --hospital-green: #ACD9B2;
    --white: #FFFFFF;
    --black: #000000;
    --dark: #232830;
}

.login{
    width: 100%;
    height: 100vh;
    display: grid;
    place-items: center;
}

.form-container{
    display: grid;
    grid-template-rows: auto 1fr auto;
    width: 30rem;
}
.logo{
    width: 15rem;
    margin-bottom: 4.8rem;
    justify-self: center;
    display: none;
}